body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}
header a {
    color: aquamarine;
    font-size: 16px;
}

.main {
    color: white;
}

.main h2 {
    font-weight: 300;
    font-size: 42px;
}

.main h4 {
    color: gray;
    font-size: 21px;
}

.closing h2{
    font-weight: 300;
    font-size: 42;
}

.closing a {
    color: aquamarine;
    font-size: 16px;
}

footer {
    text-align: right;
    color:gray;
    font-size: 18px;
}